@page "/nodes"
@inject NodesMethods nodesMethods

<AuthorizeView Roles="Admin, Editor">
    <h3>Nodes</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Friendly Name</th>
                <th>IP</th>
                <th>Groups</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Node node in ExistingNodes)
            {
                <tr>
                    <td>@node.Id</td>
                    <td>@node.Name</td>
                    <td>@node.IPStr</td>
                    <td>@string.Join(",", node.Group)</td>
                    <td>@node.Role</td>
                    <td>
                        <button class="btn btn-primary"
                                @onclick="(() => { IsEditNode = true; EditNode(node); })">
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (ShowPopup)
    {
        <!-- This is the popup to create or edit a node -->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@DialogTitle</h3>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                                @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current node -->
                    <div class="modal-body">
                        <!-- Only show Id if not a new node -->
                        @if (CurrentNode.Id != 0)
                        {
                            <p>Id: @CurrentNode.Id</p>
                        }
                        Name: <input class="form-control" type="text"
                               placeholder="Name"
                               @bind="CurrentNode.Name" />
                        IP: <input class="form-control" type="text"
                               placeholder="IP"
                               @bind="CurrentNode.IPStr" />
                        Group: <input class="form-control" type="text"
                               placeholder="Group (numbers separated by , - e.g 1,2,3)"
                               @bind="CurrentNodeGroup" />
                        Role: <select class="form-control"
                                @bind="@CurrentNodeRole">
                            @foreach (string option in AvailableRoles)
                            {
                                <option value="@option">
                                    @option
                                </option>
                            }
                        </select>
                        <br /><br />
                        <!-- Button to save the node -->
                        <button class="btn btn-primary"
                                @onclick="SaveNode">
                            Save
                        </button>
                        <!-- Only show delete button if not a new record -->
                        @if (IsEditNode)
                        {
                            <!-- Button to delete the node -->
                            <button class="btn btn-danger"
                                    @onclick="DeleteNode">
                                Delete
                            </button>
                        }
                        <br />
                        <span style="color:red">@ErrorMessage</span>
                    </div>
                </div>
            </div>
        </div>
    }
    <button class="btn btn-success" @onclick="AddNewNode">Add Node</button>
</AuthorizeView>

@code {
    private string DialogTitle = "New Node";
    private List<Node> ExistingNodes = new List<Node>();
    private bool IsEditNode = false;
    private Node CurrentNode = new Node();
    private bool ShowPopup = false;
    private string ErrorMessage = string.Empty;
    private string CurrentNodeGroup = string.Empty;
    private string CurrentNodeRole = string.Empty;
    private List<string> AvailableRoles = new List<string>() { "Master", "Slave" };

    protected override async Task OnInitializedAsync()
    {
        await GetNodes();
    }

    private void AddNewNode()
    {
        CurrentNode = new Node();
        DialogTitle = "New Node";
        CurrentNodeRole = "Slave";
        ShowPopup = true;
    }

    private async void SaveNode()
    {
        if (IsEditNode)
        {
            CurrentNode.IP = null;
            CurrentNode.Group = CurrentNodeGroup.Split(",").Select(x => Convert.ToInt32(x)).ToArray();
            var response = await nodesMethods.EditNodeAsync(CurrentNode.Id, CurrentNode);
            if (response != null)
            {
                ClosePopup();
            }
            else ErrorMessage = "Error: Could not edit this node.";
        }
        else
        {
            CurrentNode.Role = CurrentNodeRole == "Master" ? NodeRole.Master : NodeRole.Slave;
            var node = new Node { Name = CurrentNode.Name, IPStr = CurrentNode.IPStr, Group = CurrentNodeGroup.Split(",").Select(x => Convert.ToInt32(x)).ToArray(), Role = CurrentNode.Role };

            var response = await nodesMethods.CreateNodeAsync(node);
            if (response)
                ClosePopup();
            else ErrorMessage = "Error: Could not create this node.";
        }

    }

    private async void DeleteNode()
    {
        await nodesMethods.DeleteNodeAsync(CurrentNode.Id);
        ClosePopup();
    }

    private async void ClosePopup()
    {
        ShowPopup = false;
        IsEditNode = false;
        CurrentNode = new Node();
        ErrorMessage = string.Empty;

        StateHasChanged();

        await GetNodes();
    }

    private async Task GetNodes()
    {
        ExistingNodes = (await nodesMethods.GetNodesAsync()).ToList();
        StateHasChanged();
    }

    private void EditNode(Node node)
    {
        CurrentNode = node;
        DialogTitle = "Edit Node";
        CurrentNodeRole = node.Role == 0 ? "Master" : "Slave";
        ShowPopup = true;
        CurrentNodeGroup = string.Join(",", node.Group);
    }
}
